<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="76E3A747-227A-43D7-A58D-C03DFC64B57C"
             Name="Outlook File Drag"
             Language="1033"
             Version="1.0.10"
             Manufacturer="Fenac"
             UpgradeCode="65870D9B-6652-4150-830B-C5199F26E62C">

        <Package Compressed="yes"/>

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Directory Name="SourceDir" Id="TARGETDIR">
            <Directory Name="[ProgramFiles64Folder]Openac-OutlookFileDrag" Id="_1">
                <Directory Name="Outlook File Drag" Id="_2">
                    <Component Id="_1" Guid="3C67513D-01DD-4637-8A68-80971EB9504F">
                        <File Source="..\OutlookFileDrag\bin\Release\EasyHook.dll"/>
                        <File Source="..\OutlookFileDrag\EasyHook32.dll"/>
                        <File Source="..\OutlookFileDrag\EasyHook64.dll"/>
                        <File Source="..\License.rtf"/>
                        <File Source="..\OutlookFileDrag\bin\Release\log4net.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.Office.Tools.Common.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.Office.Tools.Common.v4.0.Utilities.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.Office.Tools.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.Office.Tools.Outlook.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.Office.Tools.Outlook.v4.0.Utilities.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.Office.Tools.v4.0.Framework.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\Microsoft.VisualStudio.Tools.Applications.Runtime.dll"/>
                        <File Source="..\OutlookFileDrag\bin\Release\OutlookFileDrag.dll.manifest"/>
                        <File Source="..\OutlookFileDrag\bin\Release\OutlookFileDrag.vsto"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="_1" Level="1">
            <ComponentRef Id="_1"/>
        </Feature>

    </Product>
</Wix>
